body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(47, 174, 253);
  }
  /*==================brand, cart===================*/
  .brand{
    width: 10%;
    height: 12%;
    position: fixed;
    left: 50%;
  }
  .cart{
    width: 3%;
    height: 3%;
    float: right;
  }
  /*==================brand, cart===================*/
  
  /*==================Login, Register Button===================*/
  .button{
    width: 100px;
    height: 40px;
    background-color: #CB4335;
    border: none;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition:.5s;
    margin-right: 10px;
   }
   .button:hover{
     background-color: #7B241C;
   }
  /*==================Login, Register Button===================*/
  

  form {
    border: 3px solid #f1f1f1;
  }

  input[type=text],
  input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }

  .lrbtn {
    background-color: #228ae0;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }

  .loginbtn:hover {
    opacity: 0.8;
  }

  .container {
    padding: 16px;
  }




  
  .card {
    background-color: rgb(12, 192, 105);
    box-shadow: 0 5px 10px 0 greenyellow;
    max-width: 260px;
    margin: 20px;
    text-align: center;
    font-family: arial;
  }
  
  .price {
    color: white;
    font-size: 20px;
  }
  
  .card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: black;
    background-color: green;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  .card button:hover {
    opacity: 0.3;
  }












  /*==================Previews===================*/
  .PV{
    width: 80%;
    height: 600px;
    border-radius: 10px;
    overflow: hidden;
    
    position: fixed;
    top: 26%;
    left: 300px;
    margin-top: -100px;
    margin-left: -100px;
  }
  
  .slides{
    width: 500%;
    height: 600px;
    display: flex;
  }
  
  .slides input{
    display: none;
  }
  
  .slide{
    width: 20%;
    transition: 2s;
  }
  
  .slide img{
    width: 100%;
    height: 100%;
  }
  
  .navigation-manual{
    position: absolute;
    width: 100%;
    margin-top: -130px;
    display: flex;
    justify-content: center;
  }
  
  .manual-btn{
    border: 2px solid white;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
  }
  
  .manual-btn:not(:last-child){
    margin-right: 20px;
  }
  
  .manual-btn:hover{
    background: red;
  }
  
  #pv1:checked ~ .pv{
    margin-left: 0;
  }
  
  #pv2:checked ~ .pv{
    margin-left: -20%;
  }
  
  .navigation-auto{
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: -130px;
  }
  
  .navigation-auto div{
    border: 2px solid red;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
  }
  
  .navigation-auto div:not(:last-child){
    margin-right: 40px;
  }
  
  #pv1:checked ~ .navigation-auto .auto-btn1{
    background: #CB4335;
  }
  
  #pv2:checked ~ .navigation-auto .auto-btn2{
    background: #CB4335;
  }
  /*==================Previews===================*/







  .cart-header {
    font-weight: bold;
    font-size: 1.25em;
    color: #333;
}

.cart-column {
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 10px;
}

.cart-row {
    display: flex;
}

.cart-item {
    width: 45%;
}

.cart-price {
    width: 20%;
    font-size: 1.2em;
    color: #333;
}

.cart-quantity {
    width: 35%;
}

.cart-item-title {
    color: #333;
    margin-left: .5em;
    font-size: 1.2em;
}

.cart-item-image {
    width: 75px;
    height: auto;
    border-radius: 10px;
}

.btn-danger {
    color: white;
    background-color: #EB5757;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.btn-danger:hover {
    background-color: #CC4C4C;
}

.cart-quantity-input {
    height: 34px;
    width: 50px;
    border-radius: 5px;
    border: 1px solid #56CCF2;
    background-color: #eee;
    color: #333;
    padding: 0;
    text-align: center;
    font-size: 1.2em;
    margin-right: 25px;
}

.cart-row:last-child {
    border-bottom: 1px solid black;
}

.cart-row:last-child .cart-column {
    border: none;
}

.cart-total {
    text-align: end;
    margin-top: 10px;
    margin-right: 10px;
}

.cart-total-title {
    font-weight: bold;
    font-size: 1.5em;
    color: black;
    margin-right: 20px;
}

.cart-total-price {
    color: #333;
    font-size: 1.1em;
}

.btn-purchase {
    display: block;
    margin: 40px auto 80px auto;
    font-size: 1.75em;
}

.btn {
  text-align: center;
  vertical-align: middle;
  padding: .67em .67em;
  cursor: pointer;
}

.btn-header {
  margin: .5em 15% 2em 15%;
  color: white;
  border: 2px solid #2D9CDB;
  background-color: rgba(255, 255, 255, .1);
  border-radius: 0;
  font-size: 1.5em;
  font-weight: lighter;
  padding-left: 2em;
  padding-right: 2em;
}

.btn-header:hover {
  background-color: rgba(255, 255, 255, .3);
}

.btn-play {
  display: block;
  margin: 0 auto;
  color: #2D9CDB;
  font-size: 4em;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  padding: 0;
  text-align: center;
}

.btn-primary {
  color: white;
  background-color: #56CCF2;
  border: none;
  border-radius: .3em;
  font-weight: bold;
}

.btn-primary:hover {
  background-color: #2D9CDB;
}