<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="css/styles.css">
    <script src="https://unpkg.com/vue@3"></script>
    <title>Register</title>
</head>

<body>
    <div id="app">
        <a href="/"><img :src="brand" class="brand"></a>
        <div class="PV">
            <section class="container content-section">
                <h2 class="section-header">CART</h2>
                <div class="cart-row">
                    <span class="cart-item cart-header cart-column">ITEM</span>
                    <span class="cart-price cart-header cart-column">PRICE</span>
                    <span class="cart-quantity cart-header cart-column">QUANTITY</span>
                </div>
                <div class="cart-items">
                </div>
                <div class="cart-total">
                    <strong class="cart-total-title">Total</strong>
                    <span class="cart-total-price">$0</span>
                </div>
                <button class="btn btn-primary btn-purchase" type="button">PURCHASE</button>
            </section>
        </div>
    </div>
    <script src = "main.js"></script>
    <script>
        const mountedApp = app.mount('#app')
    </script>
</body>

</html>