<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="css/styles.css">
    <script src="https://unpkg.com/vue@3"></script>
    <title>Night Owl Shop</title>
</head>

<body>
    <div id="app">
        <a href="/logged"><img :src="brand" class="brand"></a>
        <a href="/cart"><img :src="cart" class="cart"></a>
        <a href="/">
            <button type="submit" class="button" style="float:right;">logout</button>
        </a>
        <div class="PV">
            <table align="center">
                <h1>Product List</h1>
                <td>
                    <div class="card">
                        <img :src="p1" style="width:40%">
                        <h2>เสื้อนักศึกษาชาย</h2>
                        <p class="price">150 B</p>
                        <p>ชุดนักศึกษาของผู้ชาย</p>
                        <a href="/logged">
                            <p><button type="submit">Add to Cart</button></p>
                        </a>
                </td>
                <td>
                    <div class="card">
                        <img :src="p2" style="width:40%">
                        <h2>เสื้อนักศึกษาหญิง</h2>
                        <p class="price">255 B</p>
                        <p>ชุดนักศึกษาของผู้หญิง</p>
                        <a href="/logged">
                            <p><button type="submit">Add to Cart</button></p>
                        </a>
                </td>
                <td>
                    <div class="card">
                        <img :src="p3" style="width:40%">
                        <h2>เสื้อช็อป</h2>
                        <p class="price">150 B</p>
                        <p>เสื้อช็อปของมหาลัย</p>
                        <a href="/logged">
                            <p><button type="submit">Add to Cart</button></p>
                        </a>
                </td>
                <td>
                    <div class="card">
                        <img :src="p4" style="width:40%">
                        <h2>ชุดพละ</h2>
                        <p class="price">150 B</p>
                        <p>ชุดพละมหาลัย</p>
                        <a href="/logged">
                            <p><button type="submit">Add to Cart</button></p>
                        </a>
                </td>
                <td>
                    <div class="card">
                        <img :src="p4" style="width:40%">
                        <h2>ชุดพละ</h2>
                        <p class="price">150 B</p>
                        <p>ชุดพละมหาลัย</p>
                        <a href="/logged">
                            <p><button type="submit">Add to Cart</button></p>
                        </a>
                </td>
            </table>
        </div>
    </div>






    
    </div>
    <script src="main.js"></script>
    <script>
        const mountedApp = app.mount('#app')
    </script>
</body>

</html>