<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="css/styles.css">
    <script src="https://unpkg.com/vue@3"></script>
    <title>Night Owl Shop</title>
</head>

<body>
    <div id="app">
        <a href="/logged"><img :src="brand" class="brand"></a>
        <a href="/logged"><img :src="cart" class="cart"></a>
        <a href="/">
            <button type="submit" class="button" style="float:right;">logout</button>
        </a>
    </div>






    <div>
        <table align="center">
            <h1>หนังสื่อรายวิชาแนะนำ: </h1>
            <td>
                <div class="card">
                    <img :src="eng2b" style="width:40%">
                    <h2>EngLish Firsthand 2B</h2>
                    <p class="price">150 B</p>
                    <p>หนังสื่อเรียนวิชา english conversation</p>
                    <p><button>Add to Cart</button></p>
            </td>
            <td>
                <div class="card">
                    <img :src="bootstrap" style="width:40%">
                    <h2>สร้างเว็บด้วย Bootstrap</h2>
                    <p class="price">255 B</p>
                    <p>หนังสื่อความรู้เกี่ยวกับการสร้างเว็บ</p>
                    <p><button>Add to Cart</button></p>
            </td>
            <td>
                <div class="card">
                    <img :src="batabases" style="width:40%">
                    <h2>Database Systems</h2>
                    <p class="price">150 B</p>
                    <p>หนังสือความรู้ ระบบฐานข้อมูล</p>
                    <p><button>Add to Cart</button></p>
            </td>
            <td>
                <div class="card">
                    <img :src="eng2b" style="width:40%">
                    <h2>EngLish Firsthand 2B</h2>
                    <p class="price">150 B</p>
                    <p>หนังสื่อเรียนวิชา english conversation</p>
                    <p><button>Add to Cart</button></p>
            </td>
    </div>
    </table>
    </div>
    <script src="main.js"></script>
    <script>
        const mountedApp = app.mount('#app')
    </script>
</body>

</html>