<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="css/styles.css">
    <script src="https://unpkg.com/vue@3"></script>
    <title>Register</title>
</head>

<body>
    <div id="app">
        <a href="/"><img :src="brand" class="brand"></a>
        <div class="PV">

                <form action="/register" method="post">
                    <div class="container">
                        <label for="email"><b>Email</b></label>
                        <input type="text" placeholder="Enter Email" name="email" id="email" required>

                        <label for="name"><b>Username</b></label>
                        <input type="text" placeholder="Enter Username" name="name" id="name" required>

                        <label for="password"><b>Password</b></label>
                        <input type="password" placeholder="Enter Password" name="password" id="password" required>

                        <button type="submit" class="lrbtn">Register</button>
                    </div>
                </form>
        </div>
    </div>
    <script src = "main.js"></script>
    <script>
        const mountedApp = app.mount('#app')
    </script>
</body>

</html>